.signup-container {
    display: flex;
    margin: 50% 0 60% 0;
    justify-content: center;
    padding: 2em 4em 2em 4em;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.modal-header > h2 {
    color: white;
    margin-bottom: 2rem;
    font-size: 25px;
    text-align: center;
}

.close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.signup-form {
    display: flex;
    align-items: center;
    flex-basis: 500px;
    justify-content: center;
    border: 3px solid #f1f1f1;
    width: 100%;
    padding: 1rem 1.5rem 2rem 1.5rem;
    background-color: rgb(52, 49, 49);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #000;
}

.form-signup-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 1em 0em 1em 0em;
    padding: 1rem;
    height: 60px;
    background-color: rgb(57, 118, 230);
    font-size: 25px;
    border-radius: 10px;
    width: 100%;
}
.signup-submit-form > input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
}
.email-label {
    font-size: 18px;
    color: white;
}

.password-label {
    font-size: 18px;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
}

.signin-link {
    display: flex;
    color: white;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.signin-link a {
    color: rgb(57, 118, 230);
    text-decoration: none;
    font-weight: bold;
}
