.searchbar-container {
    display: flex;
    width: 100%;
}
.search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
input[type='submit'] {
    padding: 5px;
    color: white;
    background-color: transparent;
    border: 3px solid black;
    width: 80px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 7px;
    font-size: 15px;
    background-color: #3d4043;
}
input[type='submit']:hover {
    background-color: #78797b;
    color: rgb(255, 255, 255);
}
.search > input[type='text'] {
    width: 50%;
    min-width: 200px;
    font-size: 20px;
}

.search-box {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 3px solid black;
    border-radius: 7px;
    color: #000;
    font-size: 15px;
    font-weight: 300;
    transition: 0.4s ease-out;
}
