.login-container {
    display: flex;
    margin: 50% 0 60% 0;
    width: 100%;
    justify-content: center;
    padding: 2em 4em 2em 4em;
}

.modal-header > h2 {
    color: white;
    margin-bottom: 2rem;
    font-size: 25px;
    text-align: center;
}

.close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 500px;
    border: 3px solid #f1f1f1;
    width: 100%;
    padding: 1rem 1.5rem 2rem 1.5rem;
    background-color: rgb(43, 47, 52);
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0 #000;
}

.form-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 1em 0em 1em 0em;
    padding: 1rem;
    height: 60px;
    background-color: rgb(79, 211, 112);
    font-size: 25px;
    border-radius: 10px;
    width: 100%;
}

.form-cancel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 1em 3em 1em 3em;
    padding: 1rem;
    height: 60px;
    background-color: rgb(201, 46, 46);
    font-size: 25px;
    border-radius: 10px;
}

.login-submit-form > input[type='text'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
}

.pass-wrapper {
    position: relative;
    display: flex;
}
.fa.fa-eye {
    color: rgb(48, 47, 47);
    font-size: 25px;
    z-index: 9999;
    position: absolute;
    top: 30%;
    right: 10px;
}

.fa.fa-eye-slash {
    color: rgb(48, 47, 47);
    font-size: 25px;
    z-index: 9999;
    position: absolute;
    top: 30%;
    right: 10px;
}

.email-label {
    font-size: 18px;
    color: white;
}

.password-label {
    font-size: 18px;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
}

.signup-link {
    display: flex;
    color: white;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.signup-link a {
    color: rgb(199, 19, 19);
    text-decoration: none;
    font-weight: bold;
}
