.video-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6rem;
}
@media screen and (max-width: 400px) {
    .video-results {
        margin-top: 9rem;
    }
}
