.videoCard {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    box-sizing: border-box;
    padding: 1rem;
    background: rgba(0, 0, 0, 1);
    background: -webkit-linear-gradient(
        bottom right,
        rgba(0, 0, 0, 1),
        rgba(58, 55, 55, 1)
    );
    background: -moz-linear-gradient(
        bottom right,
        rgba(0, 0, 0, 1),
        rgba(58, 55, 55, 1)
    );
    background: linear-gradient(
        to top left,
        rgba(0, 0, 0, 1),
        rgba(58, 55, 55, 1)
    );
    margin: 3rem 3rem 4rem 3rem;
    list-style: none;
    -webkit-animation: fadein 0.7s linear forwards;
    animation: fadein 0.7s linear forwards;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    border: solid rgb(58, 57, 57) 1px;
}

.videoCard-fadeout {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    box-sizing: border-box;
    margin: 3rem 3rem 4rem 3rem;
    list-style: none;
    -webkit-animation: fadeout 0.7s linear forwards;
    animation: fadeout 0.7s linear forwards;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.videoCard > h2 {
    text-align: center;
}

.videoCard:hover {
    transform: scale(1.09);
}
.videoCard > img {
    width: 280px;
    box-shadow: 0px 0px 5px 1px #000;
    object-fit: contain;
}
.videoCard-title {
    font-size: 25px;
    margin: 1rem 0 0 0;
    color: rgb(176, 39, 39);
}

.videoCard-release-date {
    padding: 1rem 0 0 0;
    text-align: center;
    font-weight: bold;
}

.videoCard-synopsis {
    display: none;
    text-align: center;
    font-size: 14px;
    padding: 1rem 2rem 0 2rem;
}
.videoCard-stats {
    padding: 1rem 0 1rem 0;
    text-align: center;
    font-size: 15px;
}

.fa.fa-star {
    color: yellow;
}

.videoCard > h2 {
    padding-top: 10px;
}

.videoCard-ctrls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}

.delete-button {
    border-radius: 4px;
    background: rgb(244, 83, 83);
    padding: 6px 4px;
    font-size: 16px;
}

.update-button {
    border-radius: 4px;
    background: rgb(229, 237, 80);
    padding: 6px 4px;
    font-size: 16px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
